@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: Halenior-Bold;
    src: url("./font/Halenoir-Bold.otf");
}
@font-face{
    font-family: Halenior-semibold;
    src: url("./font/Halenoir-DemiBold.otf");
}
@font-face{
    font-family: Halenior-compact-semibold;
    src: url("./font/HalenoirCompactText-DemiBold.otf");
}
@font-face{
    font-family: Halenior-medium;
    src: url("./font/HalenoirCompact-Medium.otf");
}

@font-face{
    font-family: Halenior-light;
    src: url("./font/HalenoirCompactText-Light.otf");
}

body{
  background-color: white;
}
.scroll-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .scroll-text {
    display: inline-block;
  }

  .relative {
    max-height: 120vh;
  }
  
.slide-in{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:100vh;
    background: black;
    transform-origin: bottom;
}
.slide-out{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:100vh;
    background: black;
    transform-origin: top;
}

/* transitionplay */
.loader-wrap .loader-wrap-heading h1 {
    font-size: 120px;
    z-index: 20;
    color: #e0e0e0;
    text-transform: uppercase;
    font-weight: lighter;
    font-family: "Ogg";
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  .container h1 {
    font-family: "Ogg";
    font-weight: lighter;
    font-size: 100px;
    text-transform: uppercase;
  }
  
  .main-text{
    background-color: white;
    overflow:hidden;
  }

  .our-text{
    display:inline-block;
    transform: translateY(100%)
  }

  .cursor{
    position: fixed;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode:difference;
  }

.cursormove:hover ~ .cursor
{
  transform: translate(-50%, -50%);
}

.project-container {
  width: 50vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.project-image {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.container:hover .project-image {
  transform: scale(1.2);
}
